/* Git Delete */

#git-delete {
  padding: 5px;
}

/* Comment Box */

.comment-paragraph {
  background-color: lightgreen;
  border: 2px solid gray;
  padding: 10px;
}

#comment-box::placeholder {
  padding: 5px;
}
